.mainView {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.balanceView {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.balanceCard {
    border-radius: 0.5rem;
    width: 60%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: flex;
    justify-content: space-between;
}

.balanceCard:hover {
    box-shadow: 0 0 2px black;
}
