.mainView {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loginTitle {
    display: flex;
    justify-content: center;
}

.loginFormCard {
    display: flex;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 30%;
}
