.mainView {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.registrationTitle {
    display: flex;
    justify-content: center;
}

.registrationFormCard {
    display: flex;
    justify-content: center;
}

.registrationForm {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 30%;
}
