.mainView {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.transactionHistoryCard {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.transactionCard {
    border-radius: 1rem;
    margin: 0.25rem;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: flex;
    justify-content: space-evenly;
}

.transactionCard:hover {
    box-shadow: 0 0 2px black;
}

.transactionsOverviewCard {
    display: flex;
    justify-content: center;
}

.transactionsOverview {
    border-radius: 1rem;
    min-width: 40%;
    max-width: 60%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: flex;
    justify-content: space-between;
}

.transactionAuthenticated {
    color: green;
}

.transactionWaiting {
    color: red;
}