.mainView {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.transactionFormCard {
    display: flex;
    justify-content: center;
}

.transactionForm {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 30%;
}

.formInput {
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: solid;
    border-width: medium;
    border-color: #16284C;
    width: auto;
}

.formLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
}